:root {
  --background-header: #6b0c1c;
  --background-alternative: #ad2e24;
  --background-body: #fdfdfd;
  --background-footer: #404040;
  --font-white: #f1f1f1;
  --font-gold: #e4a30b;
  --font-title: "Roboto", sans-serif;
}
